<div style="text-align: center;">
	<h4 [ngStyle]="{'background-color':mygraycolor, 'color':mywhitecolor}" *ngIf="counter > 2" class="myname">My name is {{ name }}</h4>
	<p>{{ today }}</p>
	<p>{{ counter }}</p>
	<input type="text" [(ngModel)]="name" />
	<button [ngClass]="{'click-button': true}" (click)="btnClicked()">Click me</button>
	<div *ngFor="let person of people">
		<h4 [ngClass]="{'person-text': person.age >= 26}" *ngIf="person.age < 28">{{person.name}} is {{person.age}} years old</h4>
	</div>
	<div>
		<h4>{{ today | date:'dd/mm/yyyy' }}</h4>
		<h4>{{ cash | currency }}</h4>
	</div>
	<!-- <app-test></app-test> -->
	<nav class="main-nav">
	  	
		    <li class="main-nav__item" routerLinkActive="active">
		      <a class="main-nav__link" routerLink="/">Home</a>
		    </li>
		    <li class="main-nav__item" routerLinkActive="active"> 
		      <a class="main-nav__link" routerLink="first">About us</a>
		    </li>
		     <li class="main-nav__item" routerLinkActive="active"> 
		      <a class="main-nav__link" routerLink="second/5">Contact us</a>
		    </li>
	  	
	</nav>
</div>
<router-outlet></router-outlet>